.main-content {
  min-height: calc(100vh - 300px);
  background-color: #f8f9fa;
}

/* Media Queries */
@media (max-width: 768px) {
}

@media (max-width: 480px) {
  .main-content {
    min-height: calc(100vh - 250px);
  }
}
